header
  .navigation
    .container
      a(class='navigation-title' href='/')
        h3(class='title') RepScoreApp
      ul(class='navigation-list float-right')
        li(class='navigation-item')
          a(class='navigation-link' href='/install' title='Install App') Install App
        //li(class='navigation-item')
        //  a(class='navigation-link' href='/config-tenant' title='Configure Tenant') Tenant Configuration
